[Unit]
Description=Isolated DHCP Server for Point-To-Point Clients
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN
ExecStart=/usr/local/lib/isodhcp/venv/bin/python3 /usr/local/lib/isodhcp/isodhcp.py --interface guest --dns 1.1.1.2
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/isodhcp/
Restart=always
RestartSec=5
StateDirectory=isodhcp
Type=exec
User=isodhcp
WorkingDirectory=/var/lib/isodhcp

[Install]
WantedBy=multi-user.target
